/build/
/third_party/libmodbus-v3.2.0.zip
/third_party/lib60870-v2.4.1.zip
third_party/libmodbus/build-aux/
third_party/libmodbus/autom4te.cache/
third_party/libmodbus/.libs/
third_party/libmodbus/src/.libs/
third_party/libmodbus/src/*.la
third_party/libmodbus/src/*.lo
third_party/libmodbus/src/*.o
third_party/libmodbus/config.h
third_party/libmodbus/config.log
third_party/libmodbus/config.status
third_party/libmodbus/Makefile
third_party/libmodbus/src/Makefile
third_party/libmodbus/tests/Makefile
third_party/libmodbus/libmodbus.pc
third_party/libmodbus/src/modbus-version.h
